@model List<YouPlay2019.Models.DisciplinaViewModel>

@{
    ViewData["Title"] = "Consulta";
}

<header>
    <h2 class="text-center">Consulta de Disciplinas</h2>
</header>


<form asp-action="Pesquisar" method="post">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4 mb-2">
                <label for="Codigo" class="text-black-50">Código</label>
                <input id="Codigo" name="Codigo" type="number" class="form-control round-custom" />
            </div>

            <div class="col-md-4 mb-2">
                <label for="Descricao" class="text-black-50">Disciplina</label>
                <input id="Descricao" name="Descricao" type="text" class="form-control round-custom" />
            </div>

            <div class="col-md-4 mb-2">
                <label for="TipoDisciplina" class="text-black-50">Tipo de disciplina</label>
                <input id="TipoDisciplina" name="TipoDisciplina" type="text" class="form-control round-custom" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="Pesquisar" class="btn btn-primary round-custom" />
            </div>
        </div>

        @if (ViewBag.Erro != null)
        {
            <div class="row">
                <div class="col-md-12">
                    <span class="text-danger">@ViewBag.Erro</span>
                </div>
            </div>
        }
    </div>
</form>

<div class="table-responsive-lg">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Disciplina</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Codigo</th>
                    <td>@item.Descricao</td>
                    <td>
                        <a href="javascript:editarDisciplina(@item.Codigo)">Editar</a> |
                        <a href="javascript:apagarDisciplina(@item.Codigo)">Apagar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

